@import url('../../node_modules/bootstrap/dist/css/bootstrap.min.css');
@import url('../../node_modules/angular-sidebarjs/dist/angular-sidebarjs.min.css');
@import url('../../node_modules/normalize.css/normalize.css');

/*COMMON*/



.active {
    background-color: black;
    color: white;
}

/*SIDEBAR*/
.sidebarjs nav button{margin-bottom: 1rem;}
.sidebar-open {
	display: inline-block;
	padding: 1.5rem;
}
.sidebar-close {
	display         : block;
	padding         : 1.5rem;
	background-color: #F6D258;
}
.sidebar-item {
	display         : block;
	padding         : 3rem;
	background-color: #EF562D;
	text-transform  : uppercase;
}


.sibling,
.parents,
.children,
.details { text-align: center; }
/*HOME*/
.home-title {text-align: center;}

/*SIBLINGS*/
#sibling {text-align: center;}

/*FAMILLE*/
#parents {text-align: center;}

/*CHILDREN*/
#children {text-align: center;}

/*DETAILS*/
#details {text-align: center;}