<div class="container-fluid">
	<span class="button-search" ng-hide="formVisible" ng-click="formVisible = !formVisible">Rechercher</span>
	<div class="familles-flex-container">
		<div id="form" class="familles-flex-item-fixed">
			<form ng-show="formVisible" name="nameForm" novalidate ng-submit="nameForm.$valid && familles.memberList()">
				<div class="form-group">
					<label for="first-name">Recherche par prénom : </label>
					<input type="text" ng-model="familles.member.prenom" class="form-control" id="first-name" aria-describedby="first-name" placeholder="Entrez un prénom" autocomplete="off" >
				</div>
			  <input ng-click="familles.memberList()" type="submit" value="Go !" class="button-search"></input>
			</form>
		</div>

		<!-- Affichage les messages -->
		<div class="message-container familles-flex-item-fixed">
			<p ng-bind="familles.message"></p>
		</div>

		<!-- Affichage liste des personnes trouvées avec ce prénom-->
		<section class="member-list-container familles-flex-item-fixed" ng-repeat="member in familles.membersWithName">
			<div class="sibling" ng-click="familles.getMember(member.id,member.pere, member.mere)" ng-cloak>
				<div class="user-item">
					<div class="folder"></div>
					<p class="capitalize name">{{ member.prenom }} {{ member.nom }}</p>
				</div>
			</div>
		</section>

		<!-- // PANEL SIBLINGS -->
		<section class="pannels">
			<div id="siblings" class="familles-flex-item" ng-show="familles.appState == 'siblings'">
				<div ng-repeat="sibling in familles.member.siblings">
					<div class="sibling-container user-item" ng-cloak>
						<div ng-click="familles.getDetails(sibling.id, sibling.pere, sibling.mere)">
							<p class="capitalize name">{{ sibling.prenom }} {{ sibling.nom }} <i class="fa fa-id-card-o" aria-hidden="true"></i></p>
						</div>
							<!-- Fleches navigation parents/enfants -->
						<span class="parents-arrow" ng-click="familles.getParents(sibling.id, sibling.pere, sibling.mere)"> Parents <i class="fa fa-chevron-circle-left" aria-hidden="true"></i></span>

						<span class="children-arrow" ng-click="familles.getChildren(sibling.id, sibling.pere, sibling.mere)"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> Enfants </span>
					</div>
				</div>
			</div>

			<!-- // PANEL PARENTS -->
			<div id="parents" class="familles-flex-item" ng-show="familles.appState == 'parents'">
				<div ng-repeat="parent in familles.parents">
					<div class="parents-container user-item" ng-cloak>
						<div ng-click="familles.getDetails(parent.id, parent.pere, parent.mere)">
							<p  class="capitalize name">{{ parent.prenom }} {{ parent.nom }} <i class="fa fa-id-card-o" aria-hidden="true"></i></p>
						</div>
							<!-- Fleches navigation parents/enfants -->
						<span class="parents-arrow" ng-click="familles.getParents(parent.id, parent.pere, parent.mere)"> Parents <i class="fa fa-chevron-circle-left" aria-hidden="true"></i></span>

						<span class="children-arrow" ng-click="familles.getChildren(parent.id, parent.pere, parent.mere)"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> Enfants </span>
					</div>
				</div>
			</div>

			<!-- // PANEL CHILDREN -->
			<div id="children" class="familles-flex-item" ng-show="familles.appState == 'children'">
				<div ng-repeat="child in familles.children">
					<div class="children-container user-item" ng-cloak>
						<div ng-click="familles.getDetails(child.id, child.pere, child.mere)">
							<p  class="capitalize name">{{ child.prenom }} {{ child.nom }} <i class="fa fa-id-card-o" aria-hidden="true"></i></p>
						</div>
							<!-- Fleches navigation children/enfants -->
						<span class="parents-arrow" ng-click="familles.getParents(child.id, child.pere, child.mere)"> Parents <i class="fa fa-chevron-circle-left" aria-hidden="true"></i></span>

						<span class="children-arrow" ng-click="familles.getChildren(child.id, child.pere, child.mere)"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> Enfants </span>
					</div>
				</div>
			</div>

			<!-- // PANEL DETAILS -->
			<div id="details" class="familles-flex-item" ng-show="familles.appState == 'details'">
				<div class="container-fluid" ng-cloak>
					<div class="back">
						<a ng-click="familles.getMember(familles.details.member.id,familles.details.member.pere,familles.details.member.mere)"><i class="fa fa-backward" aria-hidden="true"></i> Retour</a>
					</div>

					<div class="details-flex-container">
						<div class="details-item-flex">
							<div class="details-item avatar">
								<img src="{{ familles.details.member.photo }}" alt="Photo de la personne">
							</div>
							<div class="details-item">
								<h3 class="capitalize">
								{{ familles.details.member.prenom }}
								{{ familles.details.member.nom }}</h3>
							</div>
							<div class="details-item">
								<p class="infos"><i class="fa fa-birthday-cake" aria-hidden="true"></i> {{ familles.details.member.naissance | date:'dd/MM/yyyy' }}</p>
								<p class="infos"><i class="fa fa-phone-square" aria-hidden="true"></i> {{ familles.details.member.telephone }}</p>
								<p class="infos"><i class="fa fa-envelope" aria-hidden="true"></i> {{ familles.details.member.email }}</p>
								<p class="infos"><i class="fa fa-building" aria-hidden="true"></i> {{ familles.details.member.adresse }}</p>
							</div>
						</div>
						<div class="details-item-flex">
							<div class="details-item">
								<div ng-if="familles.details.parents.pere || familles.details.parents.mere" class="parents">
									<h4>Parents :</h4>
									<p class="capitalize name parent">Dad : {{ familles.details.parents.pere.prenom }} {{ familles.details.parents.pere.nom }}</p>
									<p class="capitalize name parent">Mum : {{ familles.details.parents.mere.prenom }} {{ familles.details.parents.mere.nom }}</p>
								</div>
							</div>
							<div class="details-item">
								<div ng-if="familles.details.siblings.length > 0" class="children">
									<h4>Frères/Soeurs :</h4>
									<div class="capitalize" ng-repeat="sibling in familles.details.siblings">
										<p class="sibling">{{ sibling.prenom }} {{ sibling.nom }}</p>
									</div>
								</div>
							</div>
							<div class="details-item">
								<div ng-if="familles.details.children.length > 0" class="children">
									<h4>Enfants :</h4>
									<div class="capitalize" ng-repeat="kid in familles.details.children">
										<p class="child">{{ kid.prenom }} {{ kid.nom }}</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section><!-- fin section panels -->
	</div>
</div>