<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">

			<div id="form">
				<form name="nameForm" novalidate ng-submit="nameForm.$valid && familles.memberList()">
				  <div class="form-group">
				    <label for="first-name">Prénom</label>
				    <input type="text" ng-model="familles.member.prenom" class="form-control" id="first-name" aria-describedby="first-name" placeholder="Entrez un prénom">
				    <small id="first-nameHelp" class="form-text text-muted">Le vôtre ou celui d'un membre de la famille.</small>
				  </div>
				  <button ng-click="familles.memberList()" type="submit" class="btn btn-primary">Submit member</button>
				</form>
			</div>

			<!-- Affichage noms user -->
			<div class="message">
				<p ng-bind="familles.message"></p>
			</div>
			<!-- Affichage liste des personnes trouvées -->
			<div>
				<div class="member-list" ng-repeat="member in familles.memberswithname">
					<!-- <a ui-sref="member({id: member.id})"> -->
						<div ng-click="familles.getMember(member.id,member.pere, member.mere)" class="sibling" ng-cloak>
							<p>{{ member.prenom }} {{ member.nom }}</p>
						</div>
					<!-- </a> -->
				</div>
			</div>

			<!-- // PANEL SIBLINGS -->
			<div class="siblings" ng-show="familles.appState == 'siblings'">
				<div ng-repeat="sibling in familles.siblings">
					<div class="sibling" ng-cloak>
						<div ng-click="familles.getDetails(sibling.id, sibling.pere, sibling.mere)">
							<p>{{ sibling.prenom }}</p>
							<p>{{ sibling.nom }}</p>
						</div>
							<!-- Fleches navigation parents/enfants -->
						<span class="parents-arrow" ng-click="familles.getParents(sibling.pere, sibling.mere)"> Parents <- </span>
						<span class="enfants-arrow" ng-click="familles.getChildren(sibling.id)"> -> Enfants </span>
						<p>----------X----------</p>
					</div>
				</div>
			</div>

			<!-- // PANEL PARENTS -->
			<div class="Parents" ng-show="familles.appState == 'parents'">
				<div ng-repeat="parent in familles.parents">
					<div class="parent" ng-cloak>
						<div ng-click="familles.getDetails(parent.id, parent.pere, parent.mere)">
							<p>{{ parent.prenom }}</p>
							<p>{{ parent.nom }}</p>
						</div>
							<!-- Fleches navigation parents/enfants -->
						<span class="parents-arrow" ng-click="	familles.getParents(parent.pere, parent.mere)"> Parents <- </span>
						<span class="enfants-arrow" ng-click="familles.getChildren(parent.id)"> -> Enfants </span>
						<p>----------X----------</p>
					</div>
				</div>
			</div>

			<!-- // PANEL CHILDREN -->
			<div class="Children" ng-show="familles.appState == 'children'" ng-if="familles.children.length > 0">
				<div ng-repeat="child in familles.children">
					<div class="children" ng-cloak>
						<div ng-click="familles.getDetails(child.id, child.pere, child.mere)">
							<p>{{ child.prenom }}</p>
							<p>{{ child.nom }}</p>
						</div>
							<!-- Fleches navigation children/enfants -->
						<span class="children-arrow" ng-click="	familles.getParents(child.pere, child.mere)"> Parents <- </span>
						<span class="enfants-arrow" ng-click="familles.getChildren(child.id)"> -> Enfants </span>
						<p>----------X----------</p>
					</div>
				</div>
			</div>

			<!-- // PANEL DETAILS -->
			<div class="details" ng-show="familles.appState == 'details'">
				<div class="container-fluid" ng-cloak>
						<h3>{{ familles.details.member.prenom }}</h3>
						<h4>{{ familles.details.member.nom }}</h4>
					<p>Date de naissance : {{ familles.details.member.naissance }}</p>
					<p>Téléphone : {{ familles.details.member.telephone }}</p>
					<p>E-mail : {{ familles.details.member.email }}</p>
					<p>Addresse : {{ familles.details.member.adresse }}</p>
					<p>Dad : {{ familles.details.parents.pere.prenom }} {{ familles.details.parents.pere.nom }}</p>
					<p>Mum : {{ familles.details.parents.mere.prenom }} {{ familles.details.parents.mere.nom }}</p>
					<h4>Enfants :</h4>
					<div class="enfants" ng-repeat="kid in familles.details.children">
						<p>{{ kid.prenom }} {{ kid.nom }}</p>
						<p>**********</p>
					</div>
					<div>
						<a ng-click="familles.getMember(familles.details.member.id,familles.details.member.pere,familles.details.member.mere)">Retour</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>