<div class="container">
    <div>
        <h2>Bienvenue !</h2>
    </div>
    <form class="form-signin" role="form">
        <input ng-model="login.email" type="email" class="form-control" placeholder="Email address" required="" autofocus="">
        <input ng-model="login.password" type="password" class="form-control" placeholder="Password" required="">
        <label class="checkbox">
            <!-- <a ng-click="login.register()" ui-sref="login"> Sign Up</> -->
    </label>
    <button ng-click="login.login()" ui-sref="home" class="btn btn-lg btn-primary btn-block" type="submit">S'authentifier</button>
    <a ng-click="login.register()" ui-sref="home" class="btn btn-lg btn-primary btn-block" type="submit">S'inscrire</a>
  </form>
</div>

<div id="message">
	<p>{{ login.message }}</p>
</div>